*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* take 10/16- so that when user changes % of screen the font size changes */
  /* default is 16px but we want to start at 10px */
  // this deines what 1 rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
